<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{60} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="FINEST">
        <appender-ref ref="STDOUT"/>
    </root>

    <!--<logger name="org.apache.flink.runtime.operators.RegularPactTask" level="OFF"/>-->
    <!--<logger name="org.apache.flink.runtime.client.JobClient" level="OFF"/>-->
    <!--<logger name="org.apache.flink.runtime.taskmanager.Task" level="OFF"/>-->
    <!--<logger name="org.apache.flink.runtime.jobmanager.JobManager" level="OFF"/>-->
    <!--<logger name="org.apache.flink.runtime.taskmanager.TaskManager" level="OFF"/>-->
    <!--<logger name="org.apache.flink.runtime.executiongraph.ExecutionGraph" level="OFF"/>-->
    <!--<logger name="org.apache.flink.runtime.jobmanager.EventCollector" level="OFF"/>-->
</configuration>